# Factory Girl
snippet fgc
	FactoryGirl.create(:${1:factory})

# Rubocop
snippet rubd
	# rubocop:disable ${0}

snippet rubd:m
	# rubocop:disable Metrics/${0}

snippet rubd:r
	# rubocop:disable Rails/${0}

snippet rubd:r/smv
	# rubocop:disable Rails/SkipsModelValidations

snippet rubd:s
	# rubocop:disable Style/${0}
